*{
	font-family: 'Audiowide';font-size: 52px;
}
.container {
	margin: 4em;
	text-align: center;
}
.loader {
	animation: colorspin 4s linear infinite;
	border:16px solid #bdc3c7;
	margin: auto;
	width: 120px;
	height: 120px;
	border-top-color: #1abc9c;
	border-bottom-color: #3498db;
	border-radius: 50%

}

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes colorspin {
	0%{
		transform: rotate(0deg) scale(1);
	}
	25%{
		border-top-color: #2ecc71;
		border-bottom-color: #2ecc71;  
	}
	50%{
		transform:rotate(180deg) scale(1.2);
		border-top-color: #3498db;
		border-bottom-color: #3498db;  
	}
	75%{
		border-top-color: #9b59b6;
		border-bottom-color: #9b59b6;  
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}